:root{
    background-color: rgb(92, 61, 32);
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    width: 800px;
    height: 800px;
    margin: 0 auto;

}

article{
    display:flex;
}

div{
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    color: red;
    position: relative;
    left: 20px;
}

.black{
    background-color: black;
    color: black;
}

.white{
    background-color: white;
    color: white;
}

.blackFig{
    color: rgb(189, 189, 189);
    text-shadow: 0 0 6px red;
}

.whiteFig{
    color: rgb(65, 65, 65);
    text-shadow: 0 0 6px red;
}

div:hover{
    color:blue;
    box-shadow: 0 0 30px blue inset;
}

div:hover i{
    left:0px;
}


#matthias:hover div{
    color:greenyellow;
}

input:checked ~ main{
    display: flex;
    flex-direction: row;
    
}

input:checked ~ main article{
    flex-direction: column;
}
input{
    display: none;
}

.klickItem{
    margin:0 auto
}